node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/.idea/.gitignore
/.idea/modules.xml
/.idea/svelte-flowbite-skeleton.iml
/.idea/vcs.xml
